<mat-sidenav 
class="sidebar" mode="side" opened>
<img class="profilepic-sidebar" height="100px" width="100px" src="../../../assets/croppic.jpg" />
<mat-form-field class="unline" >
 <mat-label  panelClass="testClass" class="color-white">Select subject</mat-label>
 <mat-select  class="color-white" [(value)]="selected">
  
   <mat-option  value="option1">Reasoning</mat-option>
   <mat-option value="option2">Quant</mat-option>
   <mat-option value="option3">GK</mat-option>
 </mat-select>
</mat-form-field>    
<ul class="sidebarlist"><h4>Chapter 1 </h4></ul>
   <ul class="sidebarlist selectedsection"><div class="sidebartext">chapter 2</div></ul>
   <ul class="sidebarss">subsection 2</ul>
   <ul class="sidebarlist">chapter 3</ul>
   <ul class="sidebarlist">chapter 4</ul>
   <ul class="sidebarlist">chapter 5</ul>
   <ul class="sidebarlist">chapter 6</ul>
   <ul class="sidebarlist">chapter 7</ul>
   

</mat-sidenav>
<p>hello</p>