
<div [ngStyle]="{'background-image': 'url(../../assets/help.svg),linear-gradient(to right, #6A82FB, #FC5C7D)'}" fxLayoutAlign="center center"  class="signup-page">
            
    <section   class="signup-form">
            <h2 fxLayoutAlign="center">Enter your email!</h2>    
            <form fxLayout="column" >
                  <mat-form-field>
                      <input type="email" matInput placeholder="Your email">
                  </mat-form-field>
                  
                    <button class="login-button" mat-raised-button color="accent">Submit</button>
                    <a routerLink="/login" routerLinkActive="active"> <button  class="signup-button" mat-raised-button color="primary">Login</button></a>
                    <a routerLink="/signup" routerLinkActive="active"> <button  class="signup-button" mat-raised-button color="primary">Signup</button></a>
                        
                        
                </form>
            
            </section>

</div>

