
<div [ngStyle]="{'background-image': 'url(../../assets/binocular.svg),linear-gradient(to right, #6A82FB, #FC5C7D)'}" fxLayoutAlign="center center"  class="signup-page">
            
    <section   class="signup-form">
            <h2 fxLayoutAlign="center">Sign in!</h2>    
            <form fxLayout="column" >
                  <mat-form-field>
                      <input type="email" matInput placeholder="Your email">
                  </mat-form-field>
                  <mat-form-field>
                        <input type="password" matInput placeholder="Enter password">
                    </mat-form-field>
                    <button class="login-button" mat-raised-button color="accent">Login</button>
                    <a routerLink="/forgotpassword" routerLinkActive="active"><button  class="signup-button" mat-raised-button color="primary">Forgot password</button></a>
                    <a routerLink="/signup" routerLinkActive="active"> <button  class="signup-button" mat-raised-button color="primary">Signup</button></a>
                        
                        
                </form>
            
            </section>

</div>
