
        
        <mat-sidenav-container  class="example-container" >
          <mat-sidenav class="sidebar" mode="side" opened>
            <app-stsidebar2></app-stsidebar2>
          </mat-sidenav>
            

                <mat-sidenav-content  >

                  <app-stupperbarmain></app-stupperbarmain>

                  <div>
                      <mat-tab-group class="fullmain" >
                          <mat-tab  class="tab1" label="Main"> 
                            <div class ="maincontent">
                                <iframe class="maincontent"  src="https://player.vimeo.com/video/344119103" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>  
                            </div>
                              
                          </mat-tab>
                          
                          <mat-tab class="tab2" label="Q and A"> q-what do you want? </mat-tab>
                        </mat-tab-group>
                  </div>
        
        
        
                </mat-sidenav-content>
              </mat-sidenav-container>
            <router-outlet></router-outlet>



   
    